# {{ title }}

**Course:** {{ course }}  
**Module:** {{ module }} • **Lab #:** {{ lab_number }}  
**Estimated Time:** {{ time_estimate }}

{% if file_tree %}
## Repository structure

```text
{{ file_tree }}
```

{% endif %}

{% if readme_topic is defined %}
## Lab Topics

{% for topic in readme_topic -%}
### {{ topic.title }}
{{ topic.content }}

{% if topic.code_block is defined and topic.code_block|length %}
```{{ topic.code_block.language }}
{{ topic.code_block.code }}
```

{% endif %}
{% endfor %}
{% endif %}

{% if python_practices is defined and python_practices|length %}
## Python Best Practices
{% for practice in python_practices -%}
### {{ practice.title }}
{{ practice.content }}

{% if practice.code_block is defined and practice.code_block|length %}
```{{ practice.code_block.language }}
{{ practice.code_block.code }}
```

**NOTES:**
{{ practice.code_notes }}
{% endif %}

{% endfor %}
{% endif %}

## License
{{ license }}

